name: "04 - release and terraform plan to: production"

on:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Debug mode'
        required: false
        type: boolean
        default: false

env:
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"

jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check if running on staging branch
        if: github.ref != 'refs/heads/staging'
        run: |
          echo "Error: This workflow can only be run from the staging branch."
          exit 1

  production-release:
    needs: check-branch
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.get_release.outputs.release_version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
          ref: staging

      - name: Get latest release version
        id: get_release
        uses: actions/github-script@v7.0.1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const releases = await github.rest.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            const latestRelease = releases.data[0];
            if (latestRelease) {
              console.log(`Latest release version: ${latestRelease.tag_name}`);
              core.setOutput('release_version', latestRelease.tag_name);
            } else {
              core.setFailed('No releases found');
            }

      - name: Create production release branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout -b release-${{ steps.get_release.outputs.release_version }}-to-production
          git push origin release-${{ steps.get_release.outputs.release_version }}-to-production

  terraform-plan:
    needs: production-release
    uses: ./.github/workflows/terraform-plan.yml
    with:
      tf_cloud_organization: "deploymenttheory"
      tf_workspace: "terraform-jamfpro-production" 
      target_environment: "production"
      debug: ${{ inputs.debug }}
      config_directory: "workload/terraform/jamfpro"
      new_version: ${{ needs.production-release.outputs.release_version }}
    secrets:
      TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}

  send-notification:
    needs: [production-release, terraform-plan]
    if: always()
    uses: ./.github/workflows/send-notification.yml
    with:
      environment: "production"
      result: ${{ needs.terraform-plan.result == 'success' && 'success' || 'failure' }}
      notification_channel: msteams
      new_version: ${{ needs.production-release.outputs.release_version }}
    secrets: inherit